<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Log In • Picky Eaters</title>
</head>
<body>
    <h1>Log In</h1>
    <form>
        <!-- LOGIN FORM (CHECK DB FOR EXISTING USER + MATCHING PASSWORD) -->
        <%- include("partials/footer.ejs") %>
    </form>
</body>
</html>