<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Sign Up • Picky Eaters</title>
</head>

<body>

    <h1 class="p-5 text-center text-primary">Picky Eaters</h1>
    <hr class="text-primary">
    <main class="d-flex justify-content-center align-items-center flex-grow-1">
        <div id="loginCard" class="container card redShadow p-4 w-40">
            <h2>Sign Up</h2>
            <form method="POST" action="/signup">
                <div class="mb-3">
                    <label class="form-label">Username <span class="bi bi-person loginIcon"></span>
                        <input autocomplete="username" name="username" type="text" class="form-control" id="usernameInput">
                        
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password <span class="bi bi-eye loginIcon" id="eyeIcon"></span>
                        <input autocomplete="current-password" name="password" type="password" class="form-control" id="passwordInput"><span id="suggest"></span><br>
                    </label>
                </div>
                <% if (information) { %>
                    <h3 class="text-danger">Username or password not entered</h3>
                <% } %>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </main>
    <script src="js/signup.js"></script>
    <%- include("partials/footer.ejs") %>
</body>
</html>