.bg-primary {
    background-color: #e60000 !important;
}

.text-primary {
    color:#e60000 !important;
}

.btn-primary {
    background-color:#e60000 !important;
    border:#e60000 !important;
    
}

.btn-primary:hover {
    background-color: #be0000 !important;
}

.arrows {
    font-size: 30px;
    line-height: 60px !important;
    padding: 0px !important;
    margin-left: 40px;
    margin-right: 40px;
    height: 60px;
    width: 80px;
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

main {
    flex: 1;
}

hr {
    height: 2px;
    background-color: #e60000;
    opacity: 1;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2px;
    font-size: 2.5rem;
}

#loginCard {
    width: 400px; 
    border-radius: 1rem;
}

nav {
    background-color: #e60000;
}

footer {
    color: #e60000;
    text-align: center;
}

#otterImg {
    height: 8vh;
}

.redShadow {
    box-shadow: 0 0.5rem 1rem #aa0000;
}

.foodCard {
    height: fit-content;
}

#foodImg {
    border-radius: 20px;
    margin: 30px;
    width: 40vh;
}

.foodListBtn {
    width: 120px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editPageImg {
    height: 120px;
    width: 150px;
    border-radius: 8px;
}

.likeDislikeBtns {
    align-content: center;
    width: 100px;
    height: 50px;
}

.cardFootRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submitBtn {
    margin-top: 10px;
}

#profCard {
    margin: 0 auto;
}

.profPrefCard {
    margin: 20px;
    height: 16rem;
    display: flex;
    flex-direction: column;
}

.profCardImg {
    height: 9rem;
    width: 100%;
    object-fit: cover;
}

.profPrefCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll-col {
    border: solid 2px #e60000;
    border-radius: 10px;
    max-height: 600px;
    overflow-y: auto; /*prevents cards from leaking out of scrollable column*/
}

.scroll-col .profPrefCard {
    margin: 10px;
}

.scroll-col::-webkit-scrollbar {
    width: 8px;             
}

.foodListRow {
    border: solid 2px #e60000;
    border-radius: 10px;
    padding: 10px;
    width: 1100px;
}

#editCard {
    width: 28rem;
    margin:0 auto;
}